__pycache__
chroma_db
Datasets/data
Datasets/code
Datasets/pairs_data/cleaned_data/code
Datasets/pairs_data/gpt_data
Datasets/repos
Datasets/pairs_data/cleaned_data/data_train.json
Datasets/pairs_data/cleaned_data/data_test.json

.ipynb_checkpoints
.Trash-0
scrapy
keys*
model-*
global_step*
rng_*
latest
pytorch_model*

